.Carousel {
    position: relative;
    overflow: hidden;
    max-width: 1518px;
    margin: 0 auto;

    &__slider {
        position: relative;
        display: flex;
        justify-content: flex-start;

        left: 0;
        transition: left 0.3s;

        padding: 30px;
        padding-bottom: 70px;
    }

    button {
        position: absolute;
        top: 150px;
        z-index: 101;
        background: #fff;
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 20px;
        padding: 6px 13px;

        transition: all 0.3s;

        &:hover {
            border: 1px solid rgba(0, 0, 0, 1);
            cursor: pointer;
        }

        &:focus {
            border: 1px solid rgba(0, 0, 0, 1);
            outline: none;
        }
    }

    button.disabled {
        opacity: 0.5;
        border: 1px solid rgba(0, 0, 0, 0.1);

        &:hover {
            cursor: auto;
            border: 1px solid rgba(0, 0, 0, 0.1);
        }

        &:focus {
            outline: none;
        }
    }

    &__slideRight {
        right: 40px;
    }

    &__slideLeft {
        left: 30px;
    }

    // Костыли для закрытия того, что нельзя показывать

    &::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 30px;
        height: 100%;
        background: #fff;
        z-index: 100;
    }

    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 20px;
        height: 100%;
        background: #fff;
        z-index: 100;
    }

    &__crutchRight {
        display: block;
        width: 10px;
        height: 100%;
        z-index: 100;
        position: absolute;
        right: 30px;
        top: 0;
    }

    &__crutchLeft {
        display: block;
        width: 10px;
        height: 100%;
        z-index: 100;
        position: absolute;
        left: 20px;
        top: 0;
    }
}

@media (max-width: 1518px) {
    .Carousel {
        max-width: 1420px;

        &::before {
            // background: red;
            left: -2px;
            width: 22px;
        }

        &::after {
            // background: red;
            right: -2px;
            width: 32px;
        }
    }
}

@media (max-width: 1440px) {
    .Carousel {
        max-width: 1320px;
    }
}

@media (max-width: 1340px) {
    .Carousel {
        width: 100%;
        overflow: auto;

        &__slider {
            padding-bottom: 10px;
        }

        button {
            display: none;
        }

        &::after,
        &::before,
        &__crutchRight,
        &__crutchLeft {
            display: none;
        }
    }
}
