.ProductProfile {
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 40px;

    &__details {
        position: relative;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding-top: 10px;
        margin-top: 20px;

        &__list {
            margin-top: 10px;
            display: none;

            &.open{
                display: block;
            }

            &__item {
                display: flex;
                padding: 5px 0;
                font-size: 15px;
                border-bottom: 1px solid black;
                &__title, &__value{
                    width: 100%;
                }

                &__title{
                    font-weight: 500;
                    padding-right: 20px;
                }

                &__value{
                    font-style: italic;
                }
            }
        }

        &__spoiler {
            position: relative;
            margin-top: -1px;
            margin-right: 20px;
            font-size: 16px;
            font-weight: 600;
            color: #000;
            opacity: 0.6;

            span {
                display: block;
                width: 6px;
                height: 6px;
                position: absolute;
                top: 4px;
                left: 150px;
                border-top: 3px solid black;
                border-right: 3px solid black;

                transform: rotate(45deg);
                transition: transform 0.3s;

                &.open {
                    transform: rotate(135deg);
                }
            }

            &:hover {
                opacity: 1;
                cursor: pointer;
            }
        }
    }

    &__adapt {
        display: none;
        &__title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        &__flex-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
        }

        &__deal-table {
            overflow: hidden;
            width: 35%;
            height: auto;
            // padding: 10px;
            background: #f5f5f5;
            border: 1px solid rgba(0, 0, 0, 0.1);
            border-radius: 5px;
        }
    }

    &__flex-wrap {
        display: flex;
        padding-bottom: 40px;
        border-bottom: 1px solid #00000022;

        &__left,
        &__right {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            z-index: 102;

            &__wrap {
                position: sticky;
                top: 0px;
            }
        }

        &__left {
            padding-right: 20px;
        }

        &__right {
            z-index: 101;
            padding-left: 20px;
        }
    }

    &__title {
        font-size: 20px;
        font-weight: 400;
        margin: 10px 0 0 0;
    }

    &__under-title-markers {
        margin-top: 10px;
        display: flex;
        align-items: flex-end;

        span,
        a {
            display: block;
            margin-right: 15px;
            font-size: 12px;
        }

        &__availability {
            &.-in-stock {
                color: #69b815;
            }

            &.-out-of-stock {
                color: #c43f28;
            }
        }

        &__write-feedback {
            text-decoration: none;
            color: #000;
            opacity: 0.3;
            font-weight: 500;

            &:hover {
                color: $second-color;
                opacity: 1;
            }
        }
    }

    &__price-wrap {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    &__price {
        font-size: 28px;
        font-weight: 400;
    }

    &__tabs {
        width: 100%;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        &__titles {
            display: flex;

            &__item {
                margin-top: -1px;
                padding: 18px 0;
                margin-right: 20px;
                font-size: 16px;
                font-weight: 600;
                color: rgba(0, 0, 0, 0.5);
                height: 100%;

                &.active {
                    padding-top: 17px;
                    border-top: 1px solid #000;
                    color: #000;
                    &:hover {
                        color: #000;
                    }
                }

                &:hover {
                    color: $second-color;
                    cursor: pointer;
                }
            }
        }

        &__content {
            display: none;

            &.active {
                display: block;
            }

            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    position: relative;
                    padding-left: 20px;
                    font-size: 14px;
                    margin-bottom: 10px;

                    &::before {
                        content: "\2014";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            p,
            a {
                font-size: 14px;
                text-decoration: none;
                color: #000;
            }

            a {
                &:hover {
                    color: $second-color;
                }
            }

            p {
                margin: 0;
                padding: 0;
            }
        }
    }

    &__main-buttons {
        margin-top: 40px;
        padding: 40px 0px;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        width: 100%;

        button {
            font-size: 18px;
            padding: 8px 15px;
            border-radius: 5px;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
            }

            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    &__buy-button {
        color: #fff;
        background: $second-color;
        border: 1px solid $second-color;
        font-weight: 500;
    }

    &__fast-order-button {
        background: #fff;
        border: 1px solid rgba(0, 0, 0, 0.3);
        font-weight: 400;

        transition: 0.2s;

        &:hover {
            border-color: rgba(0, 0, 0, 1);
        }
    }

    &__add-to-desired {
        display: flex;
        align-items: center;
        background: #fff;
        border: none;
        font-size: 12px;
        padding: 0;

        span {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #000;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            margin-right: 7px;
            opacity: 0.2;

            i {
                font-size: 17px;
                margin-top: 2px;
            }
        }

        &:hover {
            cursor: pointer;
            color: $second-color;
            span {
                color: #000;
            }
        }

        &:active,
        &:focus {
            outline: none;
        }
    }

    &__similar-products {
        width: 100%;
        margin-top: 40px;
        padding-top: 15px;
        border-top: 1px solid #00000022;
    }

    &__section-title {
        margin-top: -1px;
        padding-bottom: 15px;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 600;
        color: #000;
    }

    &__feedback-section {
        border-top: 1px solid #00000022;
        margin-top: 40px;

        &__title {
            padding-top: 20px;
            font-weight: 600;
            display: flex;
            align-items: center;

            span {
                position: relative;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                margin-left: 15px;
                padding: 2px;
                min-width: 10px;
                height: 15px;
                font-size: 12px;
                font-weight: 400;
                background: rgb(255, 211, 66);
                border-radius: 4px;

                &::after {
                    content: "";
                    position: absolute;
                    top: 100%;

                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 6px 0px 0px 6px;
                    border-color: rgb(255, 211, 66) transparent transparent transparent;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        &__adapt-close-btn {
            display: none;
        }

        &__adapt-open-btn {
            display: none;
            margin-top: 20px;
            padding: 13px;
            background: $second-color;
            border: none;
            border-radius: 5px;
            font-size: 18px;
            font-weight: 500;
            color: #fff;

            &:hover {
                cursor: pointer;
            }

            &:active,
            &:focus {
                outline: none;
            }
        }
    }

    &__description {
        padding-bottom: 30px;

        &__title,
        &__section-title {
            font-size: 16px;
            padding: 0;
            margin: 0;
            margin-top: 15px;
        }

        h3 {
            font-size: 14px;
            margin: 0;
            padding: 0;
            margin-bottom: 8px;
        }

        img {
            display: block;
            max-width: 500px;
            margin-bottom: 20px;
        }

        p {
            font-size: 14px;
            margin: 12px 0px 8px 0px;
            line-height: 1.5;
        }

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;

            li {
                position: relative;
                padding-left: 20px;
                font-size: 14px;
                margin-bottom: 10px;

                &::before {
                    content: "\2014";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        &.-short {
            display: none;
        }

        &__open-full-btn {
            display: block;
            width: 100%;
            padding: 9px 0px;
            background: #fff;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
            box-shadow: -3px -12px 17px -12px rgba(88, 88, 88, 0.29);
            font-size: 18px;
            font-weight: 500;

            &:focus,
            &:active {
                outline: none;
            }
        }

        &__close-modal-btn {
            display: none;
        }
    }
}

@media (max-width: 1340px) {
    .ProductProfile {
        margin-top: 80px;
        padding: 0 15px;
        &__flex-wrap {
            display: none;
        }

        &__adapt {
            display: block;
        }

        &__title {
            font-weight: 500;
            font-size: 27px;
        }

        &__price {
            font-size: 22px;
            text-align: center;
            font-weight: 600;
            margin-top: 20px;
        }

        &__main-buttons {
            box-sizing: border-box;
            margin-top: 20px;
            padding: 0 10px;
            border: none;
            button {
                width: 100%;
                margin-bottom: 10px;
                border: none;
                padding: 10px 15px;

                &:last-child {
                    font-size: 16px;
                    font-weight: 500;
                    color: $second-color;
                    padding: 11px 15px;
                }
            }
        }

        &__add-to-desired {
            width: 100%;
            background: #fff;
            padding: 8px 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 16px;
            font-weight: 500;

            span {
                width: 25px;
                height: 25px;
                i {
                    margin-top: 3px;
                }
            }
        }

        &__description {
            &.-short {
                display: block;
                position: static;
                padding-bottom: 0;
            }

            box-sizing: border-box;
            position: fixed;
            top: 110%;
            left: 0;
            height: 100%;
            background: #fff;
            z-index: 1050;

            transition: top $menu-transition-time-1;

            &.active {
                top: 0;
            }

            &__section-title {
                box-sizing: border-box;
                background: #ededed;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 21px;
                font-weight: 500;
                padding-left: 15px;
                width: 100%;
                margin-top: 0;
                height: $adapt-menu-title-height;
            }

            &__close-modal-btn {
                display: block;
                height: 100%;
                padding: 0px 15px;
                background: none;
                border: none;

                &:hover {
                    cursor: pointer;
                }

                &:active,
                &:focus {
                    outline: none;
                }
            }

            &__main-wrapper {
                padding: 15px;
                height: calc(100% - 50px);
                // margin-bottom: $adapt-menu-title-height;

                overflow-y: auto;
            }
        }

        &__feedback-section {
            border: none;
            margin-top: 0px;

            &__title {
                font-size: 22px;
                font-weight: 500;

                &.-modal-title {
                    box-sizing: border-box;
                    position: fixed;
                    width: inherit;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    background: #ededed;
                    height: $adapt-menu-title-height;
                    padding: 0;
                    margin: 0;

                    font-size: 20px;
                    padding-left: 15px;

                    button {
                        height: 100%;
                        padding: 0 15px;
                        background: none;
                        border: none;

                        &:hover {
                            cursor: pointer;
                        }

                        &:active,
                        &:focus {
                            outline: none;
                        }
                    }
                }
            }

            &__adapt-open-btn,
            &__adapt-close-btn {
                display: block;
            }

            &__adapt-wrapper {
                padding: $adapt-menu-title-height 15px 15px 15px;
            }

            &__modal {
                overflow-y: auto;
                background: #fff;
                position: fixed;
                top: 110%;
                left: 0;
                z-index: 105;
                width: 100%;
                height: 100%;

                transition: top $menu-transition-time-1;

                &.active {
                    top: 0;
                }
            }
        }

        &__tabs {
            margin-top: 25px;
            padding-bottom: 18px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);

            &__titles {
                justify-content: center;
            }
        }

        &__similar-products {
            // width: 100%;
            // margin-top: 40px;
            // padding-top: 15px;
            // border-top: 1px solid #00000022;
            border: none;
        }
    }
}

@media (max-width: 700px) {
    .ProductProfile {
        &__title {
            font-size: 22px;
        }

        &__adapt {
            &__title {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }

            &__flex-wrapper {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            &__deal-table {
                overflow: hidden;
                width: 100%;
                height: auto;
                margin-top: 20px;
                background: #f5f5f5;
                border: 1px solid rgba(0, 0, 0, 0.1);
                border-radius: 5px;
            }
        }

        &__description {
            img {
                width: 100%;
            }
        }
    }
}
