@import "../../styles/variables";

.Promo {
    &__yellow-banner {
        display: flex;
        justify-content: center;
        padding-bottom: 20px;
        background: $main-color;

        &__image {
            margin-top: 24px;

            img {
                height: 588px;
            }
        }

        &__header {
            display: flex;
            justify-content: flex-start;
            flex-direction: column;
            margin-left: 170px;
            margin-right: 50px;
            margin-top: 145px;

            p {
                margin: 0;
                margin-bottom: 80px;
                font-size: 73px;
                font-weight: 800;
            }
        }
    }

    &__blue-banner {
        display: flex;
        // background: $second-color;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 1340px) {
    .Promo {
        padding-top: 4vw;
        &__yellow-banner {
            &__image {
                display: flex;
                align-items: center;
                img {
                    height: 350px;
                }
            }

            &__header {
                margin-left: 50px;
                margin-top: 130px;
                margin-right: 0px;
                p {
                    font-size: 40px;
                    margin-bottom: 40px;
                }
            }

            .PromoBtn {
                width: 180px;
                font-size: 25px;
            }
        }
    }
}

@media (max-width: 700px) {
    .Promo {
        padding-top: 5vw;
        &__yellow-banner {
            &__image {
                img {
                    height: 250px;
                }
            }

            &__header {
                margin-top: 50px;
                p {
                    font-size: 30px;
                }
            }

            .PromoBtn {
                width: 150px;
                font-size: 18px;
            }
        }
    }
}

@media (max-width: 430px) {
    .Promo {
        &__yellow-banner {
            &__image {
                img {
                    height: 150px;
                }
            }

            &__header {
                margin-left: 20px;
                p {
                    font-size: 18px;
                    margin-bottom: 20px;
                }
            }

            .PromoBtn {
                width: 80px;
                font-size: 14px;
                padding: 10px;
            }
        }
    }
}
